h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: burlywood;
    font-size: 40px;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 19px;
    line-height: 35px;
}

.vermelho { /*Na regra da cascata o último elemento é tem prioridade. */
    color: #ff0000;
}

.texto_grande {
    font-size: 60px;
}

#titulo_h2 {
    background: darkseagreen;
}

#titulo_h2-1 {
    color: purple;
}